# Environment
.env
.env.*

# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Uploads
uploads/
backend/uploads/

# Reports
reports/

# Vector Database
vector_db/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db